.contact {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
}

.contact_title-container {
    position: relative;
}

.contact_circle-gray {
    top: -1em;
    left: 5em;
    height: 13em;
    width: 13em;
    z-index: -100;
    border-radius: 50%;
    position: absolute;
    background-color: #B4B6B9;
    opacity: 0.4;
    animation: grow 7s ease infinite;
}

.contact_circle-red {
    top: 8em;
    left: 5em;
    height: 8em;
    width: 8em;
    z-index: -99;
    border-radius: 50%;
    position: absolute;
    background-color: #DB4640;
    opacity: 0.7;
    animation: grow 9s ease infinite;
}

.contact_title {
    font-family: 'Six Caps', sans-serif;
    font-size: 10em;
    font-weight: lighter;
    margin: 0;
    line-height: 1em;
    letter-spacing: 0.01em;
}

.contact_list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    margin: 2em 0;
}

.contact_list-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_link {
    font-size: 2.8em;
    margin: 0;
    color: #B4B6B9;
    font-weight: normal;
    cursor: pointer;
}

.contact_link:hover {
    color: #DB4640;
    transition: color 200ms;
} 

.contact_icon {
    width: 3em;
    padding: 0.5em;
}

.contact_link-email {
    text-decoration: none;
}

@media (min-width: 600px) {
    .contact {
        flex-direction: row;
        margin: 0 5em;
    }

    .contact_circle-gray {
        height: 30em;
        width: 30em;
        top: -2em;
        left: 13em;
    }

    .contact_circle-red {
        top: 14em;
        left: 30em;
        height: 17em;
        width: 17em;    
    }

    .contact_title {
        font-size: 20em;
    }

    .contact_list-group {
        justify-content: flex-end;
    }

    .contact_link {
        font-size: 5em;
    }

    .contact_icon {
        width: 4em;
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(0.93);
    }
    50% {
        transform: scale(1.05);
    }
    70% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}